doctype html
html
  head
    script(src='http://d3js.org/d3.v3.min.js' charset='utf-8')
    link(rel='stylesheet', href='/styles/index.css')
    title The Dashboard
  body
    script(src='/javascript/script.js')

    .header
      h1.page-title The Dashboard
