doctype html
html
  head
    link(rel='stylesheet', href='/styles/index.css')
    title Loading...
  body
    script(src='/javascript/script.js')

    .header
      h1.page-title Still loading...

    .main-content
      block content
        p.
          No scans results are found yet.. Refresh this page after a few seconds to reload..
